In [4]:
import numpy as np
import pandas as pd
games = pd.read_csv("/Users/bartoszpiechnik/Desktop/pandas-bootcamp/games_sales.csv")

In [5]:
games.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64

In [11]:
games.loc[:, ['Platform', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum()

Platform       X360PS3X360X360X360PS4PS3X360X360PS3PS3X360PS4...
NA_Sales                                                  1173.3
EU_Sales                                                  793.64
JP_Sales                                                  107.06
Other_Sales                                               282.75
dtype: object

In [12]:
games.Platform.unique()

array(['X360', 'PS3', 'PS4', 'XOne'], dtype=object)

In [13]:
platform_names = {
    'PS3': 'PlayStation',
    'PS4': 'PlayStation',
    'X360': 'XBox',
    'XOne': 'XBox'
}

In [15]:
sales = games.loc[:, ['Platform', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']]

In [18]:
sales.set_index('Platform').groupby(platform_names).sum()

             NA_Sales  EU_Sales  JP_Sales  Other_Sales
Platform
PlayStation    489.06    467.41     94.29       185.29
XBox           684.24    326.23     12.77        97.46

In [19]:
games

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
...,...,...,...,...,...,...,...,...,...,...
3138,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01
3139,Mighty No. 9,XOne,2016.0,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
3140,Resident Evil 4 HD,XOne,2016.0,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
3141,Farming 2017 - The Simulation,PS4,2016.0,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
3142,Rugby Challenge 3,XOne,2016.0,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01

In [20]:
publishers = games[['Publisher', 'Genre', 'Platform', 'NA_Sales']]

In [31]:
pb = publishers.groupby('Publisher').sum(numeric_only=True).nlargest(10, columns='NA_Sales')#.sort_values(by='NA_Sales', ascending=False).

In [32]:
pb

                                        NA_Sales
Publisher
Electronic Arts                           213.38
Activision                                193.16
Take-Two Interactive                      120.99
Microsoft Game Studios                    116.77
Ubisoft                                    98.65
Sony Computer Entertainment                76.35
Warner Bros. Interactive Entertainment     45.24
THQ                                        36.44
Bethesda Softworks                         33.88
Capcom                                     24.74

In [34]:
top = publishers.groupby('Platform').sum(numeric_only=True).nlargest(1, 'NA_Sales')

In [35]:
top

          NA_Sales
Platform
X360        601.05

In [40]:
publishers.set_index('Platform').groupby(platform_names).sum().nlargest(1, 'NA_Sales')

/var/folders/cw/s321vfbx6j78jd3lsjfcsdyw0000gn/T/ipykernel_25868/672623900.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  publishers.set_index('Platform').groupby(platform_names).sum().nlargest(1, 'NA_Sales')

          NA_Sales
Platform
XBox        684.24

In [41]:
sales.head()

  Platform  NA_Sales  EU_Sales  JP_Sales  Other_Sales
0     X360     14.97      4.94      0.24         1.67
1      PS3      7.01      9.27      0.97         4.14
2     X360      9.63      5.31      0.06         1.38
3     X360      9.03      4.28      0.13         1.32
4     X360      9.67      3.73      0.11         1.13

In [42]:
sales.groupby('Platform')['JP_Sales']

In [43]:
aaa = dict(iter(sales.groupby('Platform')))

In [45]:
aaa['PS3']

     Platform  NA_Sales  EU_Sales  JP_Sales  Other_Sales
1         PS3      7.01      9.27      0.97         4.14
6         PS3      4.99      5.88      0.65         2.52
9         PS3      5.54      5.82      0.49         1.62
10        PS3      5.98      4.44      0.48         1.83
14        PS3      2.96      4.88      0.81         2.12
...       ...       ...       ...       ...          ...
3124      PS3      0.00      0.01      0.00         0.00
3125      PS3      0.00      0.00      0.01         0.00
3129      PS3      0.00      0.00      0.01         0.00
3132      PS3      0.00      0.00      0.01         0.00
3136      PS3      0.00      0.00      0.01         0.00

[1329 rows x 5 columns]

In [46]:
studios = games.loc[:, ['Genre', 'Publisher', 'Global_Sales']]

In [47]:
studios.head()

     Genre               Publisher  Global_Sales
0     Misc  Microsoft Game Studios         21.82
1   Action    Take-Two Interactive         21.40
2   Action    Take-Two Interactive         16.38
3  Shooter              Activision         14.76
4  Shooter              Activision         14.64

In [48]:
top_sales = studios.groupby(['Genre', 'Publisher']).sum().sort_values(by='Global_Sales', ascending=False)

In [49]:
top_sales

                                         Global_Sales
Genre        Publisher
Shooter      Activision                        245.46
Sports       Electronic Arts                   203.50
Action       Take-Two Interactive              106.04
             Ubisoft                            96.44
Shooter      Electronic Arts                    92.58
...                                               ...
Adventure    Cave                                0.01
Role-Playing TopWare Interactive                 0.01
Sports       Interworks Unlimited, Inc.          0.01
Strategy     Ackkstudios                         0.01
Adventure    Views                               0.01

[422 rows x 1 columns]

In [50]:
studios.groupby(['Genre', 'Publisher']).agg(['sum', 'count', 'mean'])

                              Global_Sales
                                       sum count      mean
Genre    Publisher
Action   505 Games                    2.25     8  0.281250
         Abylight                     0.08     1  0.080000
         Ackkstudios                  0.33     1  0.330000
         Acquire                      0.11     1  0.110000
         Activision                  42.84    95  0.450947
...                                    ...   ...       ...
Strategy Square Enix                  0.35     1  0.350000
         Takara Tomy                  0.09     1  0.090000
         Take-Two Interactive         2.92     6  0.486667
         Tecmo Koei                   0.58     6  0.096667
         Ubisoft                      2.34     4  0.585000

[422 rows x 3 columns]

In [51]:
studios.groupby(['Genre', 'Publisher']).agg(['sum', 'count', 'mean']).sort_values(by=('Global_Sales', 'sum'), ascending=False)

                                        Global_Sales
                                                 sum count      mean
Genre        Publisher
Shooter      Activision                       245.46    72  3.409167
Sports       Electronic Arts                  203.50   170  1.197059
Action       Take-Two Interactive             106.04    23  4.610435
             Ubisoft                           96.44    67  1.439403
Shooter      Electronic Arts                   92.58    50  1.851600
...                                              ...   ...       ...
Adventure    Cave                               0.01     1  0.010000
Role-Playing TopWare Interactive                0.01     1  0.010000
Sports       Interworks Unlimited, Inc.         0.01     1  0.010000
Strategy     Ackkstudios                        0.01     1  0.010000
Adventure    Views                              0.01     1  0.010000

[422 rows x 3 columns]

In [52]:
games.groupby(['Publisher', 'Genre']).filter(lambda sg: sg['NA_Sales'].sum() > 50)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
3,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
5,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
6,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
7,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.30,0.07,1.12,13.73
...,...,...,...,...,...,...,...,...,...,...
2908,Cabela's Big Game Hunter: Pro Hunts,X360,2014.0,Shooter,Activision,0.02,0.00,0.00,0.00,0.03
3012,Call of Duty: Modern Warfare Trilogy,PS3,2016.0,Shooter,Activision,0.00,0.01,0.00,0.00,0.02
3033,NHL 16,X360,2015.0,Sports,Electronic Arts,0.00,0.02,0.00,0.00,0.02
3035,Call of Duty: Modern Warfare Trilogy,X360,2016.0,Shooter,Activision,0.01,0.01,0.00,0.00,0.02
3078,Madden NFL 13,PS3,2012.0,Sports,Electronic Arts,0.00,0.01,0.00,0.00,0.01

In [53]:
def more_than_50(df):
    return df['NA_Sales'].sum() > 50

games.groupby(['Publisher', 'Genre']).filter(more_than_50)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
3,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
5,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
6,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
7,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.30,0.07,1.12,13.73
...,...,...,...,...,...,...,...,...,...,...
2908,Cabela's Big Game Hunter: Pro Hunts,X360,2014.0,Shooter,Activision,0.02,0.00,0.00,0.00,0.03
3012,Call of Duty: Modern Warfare Trilogy,PS3,2016.0,Shooter,Activision,0.00,0.01,0.00,0.00,0.02
3033,NHL 16,X360,2015.0,Sports,Electronic Arts,0.00,0.02,0.00,0.00,0.02
3035,Call of Duty: Modern Warfare Trilogy,X360,2016.0,Shooter,Activision,0.01,0.01,0.00,0.00,0.02
3078,Madden NFL 13,PS3,2012.0,Sports,Electronic Arts,0.00,0.01,0.00,0.00,0.01

In [54]:
games_rel = games.loc[:, ['Name', 'Genre', 'Platform', 'Global_Sales']]

In [58]:
games_rel.set_index(['Name', 'Platform']).groupby('Genre').transform(lambda x: (x - x.mean())/x.std())

                                         Global_Sales
Name                           Platform
Kinect Adventures!             X360         13.814162
Grand Theft Auto V             PS3          13.831175
                               X360         10.468663
Call of Duty: Modern Warfare 3 X360          5.301112
Call of Duty: Black Ops        X360          5.253454
...                                               ...
Bound By Flame                 X360         -0.576944
Mighty No. 9                   XOne         -0.728965
Resident Evil 4 HD             XOne         -0.556808
Farming 2017 - The Simulation  PS4          -0.728496
Rugby Challenge 3              XOne         -0.642965

[3143 rows x 1 columns]

In [60]:
ps3 = games.loc[games.Platform == 'PS3', ['Name', 'Genre', 'EU_Sales', 'Global_Sales']]

In [61]:
ps3

,Name,Genre,EU_Sales,Global_Sales
1,Grand Theft Auto V,Action,9.27,21.40
6,Call of Duty: Black Ops II,Shooter,5.88,14.03
9,Call of Duty: Modern Warfare 3,Shooter,5.82,13.46
10,Call of Duty: Black Ops,Shooter,4.44,12.73
14,Gran Turismo 5,Racing,4.88,10.77
...,...,...,...,...
3124,Hyperdimension Neptunia mk2,Action,0.01,0.01
3125,Shin Koihime Musou: Otome Taisen * Sangokushi ...,Adventure,0.00,0.01
3129,Muv-Luv Alternative,Simulation,0.00,0.01
3132,Akatsuki no Goei Trinity,Adventure,0.00,0.01
3136,Battle Fantasia,Fighting,0.00,0.01

In [62]:
ps3.groupby('Genre').apply(lambda sg: 'solid' if sg.EU_Sales.sum() > 50 else 'weak')

Genre
Action          solid
Adventure        weak
Fighting         weak
Misc             weak
Platform         weak
Puzzle           weak
Racing           weak
Role-Playing     weak
Shooter         solid
Simulation       weak
Sports           weak
Strategy         weak
dtype: object

In [65]:
def sales_detail(sf):
    level = 'solid' if sf.EU_Sales.sum() > 50 else 'weak'
    variability = 'volatile' if sf.EU_Sales.std()/sf.EU_Sales.mean() > 2 else 'steady'
    return (level, variability)

In [66]:
ps3.groupby('Genre').apply(sales_detail)

Genre
Action          (solid, volatile)
Adventure        (weak, volatile)
Fighting           (weak, steady)
Misc               (weak, steady)
Platform           (weak, steady)
Puzzle             (weak, steady)
Racing             (weak, steady)
Role-Playing     (weak, volatile)
Shooter           (solid, steady)
Simulation         (weak, steady)
Sports           (weak, volatile)
Strategy           (weak, steady)
dtype: object

In [67]:
g_sales = games.loc[:, ['Year', 'Global_Sales']]

In [70]:
g_by_year = games.groupby('Year').sum()

/var/folders/cw/s321vfbx6j78jd3lsjfcsdyw0000gn/T/ipykernel_25868/2785274439.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g_by_year = games.groupby('Year').sum()

In [75]:
g_by_year['Global_Sales'].sort_values(ascending=False)

Year
2010.0    315.47
2011.0    304.49
2008.0    255.45
2009.0    253.19
2013.0    250.36
2014.0    238.57
2012.0    210.37
2015.0    204.23
2007.0    169.65
2006.0     72.95
2016.0     55.04
2005.0      8.32
2017.0      0.03
Name: Global_Sales, dtype: float64

In [78]:
s_games = games.groupby(['Genre', 'Year', 'Platform']).sum()['EU_Sales'].sort_values(ascending=False)

/var/folders/cw/s321vfbx6j78jd3lsjfcsdyw0000gn/T/ipykernel_25868/1794059385.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  s_games = games.groupby(['Genre', 'Year', 'Platform']).sum()['EU_Sales'].sort_values(ascending=False)

In [79]:
s_games

Genre      Year    Platform
Action     2013.0  PS3         21.72
           2014.0  PS4         19.18
           2012.0  PS3         17.37
           2011.0  PS3         16.49
Shooter    2011.0  PS3         15.98
                               ...
Adventure  2013.0  X360         0.00
Strategy   2011.0  PS3          0.00
Misc       2016.0  PS4          0.00
                   PS3          0.00
Puzzle     2006.0  X360         0.00
Name: EU_Sales, Length: 307, dtype: float64

In [85]:
games.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64

In [88]:
g = games.set_index(['Name', 'Platform', 'Genre']).groupby(['Platform', 'Genre']).sum()

/var/folders/cw/s321vfbx6j78jd3lsjfcsdyw0000gn/T/ipykernel_25868/446138571.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g = games.set_index(['Name', 'Platform', 'Genre']).groupby(['Platform', 'Genre']).sum()

In [89]:
g

                           Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
Platform Genre
PS3      Action        750197.0    121.16    110.62     29.59        46.51
         Adventure     144856.0      8.74      8.13      2.68         3.33
         Fighting      152851.0     23.79     14.69      6.54         6.69
         Misc          243240.0     22.53     16.92      1.38         6.93
         Platform       72371.0     13.31     11.38      0.61         5.03
         Puzzle          4023.0      0.39      0.05      0.10         0.05
         Racing        180892.0     23.86     33.86      3.13        13.09
         Role-Playing  235352.0     29.85     19.79     16.82         8.92
         Shooter       311612.0     81.88     75.14      8.81        30.21
         Simulation     60309.0      4.30      3.78      1.27         1.41
         Sports        422172.0     60.58     48.02      7.90        19.17
         Strategy       44234.0      1.87      1.33      1.16         0.59
PS4      Action        245832.0     29.70     38.19      5.41        13.78
         Adventure      38286.0      1.42      2.19      0.38         0.71
         Fighting       34258.0      3.40      2.73      0.70         1.21
         Misc           30223.0      2.83      3.03      0.35         1.16
         Platform       22161.0      2.18      3.32      0.49         1.00
         Puzzle          2015.0      0.00      0.02      0.00         0.00
         Racing         34256.0      2.47      7.12      0.26         1.72
         Role-Playing   94712.0      8.26     10.55      3.23         3.74
         Shooter        68510.0     28.02     33.15      2.33        11.82
         Simulation     10078.0      0.15      0.37      0.16         0.09
         Sports         86639.0     18.23     22.88      0.92         8.07
         Strategy       10072.0      0.14      0.15      0.07         0.06
X360     Action        639254.0    141.39     76.81      2.77        21.63
         Adventure      94516.0      8.40      4.86      0.61         1.32
         Fighting      130654.0     24.58      8.92      0.96         3.17
         Misc          245212.0     63.43     20.54      0.45         7.55
         Platform       48230.0      6.04      4.19      0.02         1.12
         Puzzle         12045.0      0.62      0.04      0.15         0.06
         Racing        204981.0     33.10     25.90      0.52         6.43
         Role-Playing  152719.0     44.65     18.56      2.61         6.15
         Shooter       395942.0    174.22     76.59      3.10        24.53
         Simulation     72347.0      8.50      4.03      0.70         1.23
         Sports        432076.0     89.63     37.50      0.41        11.46
         Strategy       54229.0      6.49      2.64      0.13         0.89
XOne     Action        137008.0     19.45     11.47      0.05         2.81
         Adventure      24176.0      1.20      1.08      0.03         0.20
         Fighting       14103.0      1.58      0.52      0.01         0.23
         Misc           30213.0      4.44      1.82      0.01         0.61
         Platform        8059.0      0.44      0.29      0.00         0.07
         Racing         38286.0      3.94      4.16      0.05         0.68
         Role-Playing   26195.0      5.56      3.06      0.01         0.83
         Shooter        66491.0     31.78     15.27      0.16         4.38
         Simulation      6044.0      0.28      0.21      0.00         0.05
         Sports         72531.0     14.26      7.67      0.02         2.03
         Strategy        6044.0      0.26      0.10      0.00         0.03

                       Global_Sales
Platform Genre
PS3      Action              307.88
         Adventure            22.90
         Fighting             51.70
         Misc                 47.85
         Platform             30.33
         Puzzle                0.60
         Racing               73.95
         Role-Playing         75.30
         Shooter             196.04
         Simulation           10.79
         Sports              135.56
         Strategy              4.94
PS4      Action               87.06
         Adventure             4.70
         Fighting              8.04
         Misc                  7.40
         Platform              7.01
         Puzzle                0.02
         Racing               11.53
         Role-Playing         25.77
         Shooter              75.32
         Simulation            0.77
         Sports               50.07
         Strategy              0.41
X360     Action              242.67
         Adventure            15.23
         Fighting             37.64
         Misc                 91.96
         Platform             11.39
         Puzzle                0.85
         Racing               65.99
         Role-Playing         71.98
         Shooter             278.55
         Simulation           14.45
         Sports              139.12
         Strategy             10.13
XOne     Action               33.79
         Adventure             2.51
         Fighting              2.31
         Misc                  6.86
         Platform              0.81
         Racing                8.80
         Role-Playing          9.48
         Shooter              51.61
         Simulation            0.54
         Sports               23.97
         Strategy              0.38